extends include/layout.pug

block vars
  - var title = '信用卡資訊'

block content
  main.mb-0.mb-md-6
    .container.px-0.px-md-2
      .row.justify-content-center
        .col-md-6.pr-0.pr-sm-2
          .bg-primary.text-secondary.p-5
            .container-fluid
              .form-row.mb-5
                .col-6
                  h2 信用卡
                .col-6
                  ul.progress-steps
                    li.step.completed 
                    li.step.active
                    li.step
              .form-row
                .col-12
                  .form-group
                    label.h5(for="credit-card") 卡號
                    .input-group
                      .input-group-prepend
                        i.input-group-text.far.fa-credit-card.text-primary.px-4
                      input.form-control.bg-secondary.border-0(type="text" id="credit-card" placeholder="1234 5678 9012 6543")
              .form-row
                .col-12
                  .form-group
                    label.h5(for="name") 持卡人姓名
                    input.form-control.bg-secondary.border-0(type="text" id="name" placeholder="Wei Hang Wang")
              .form-row
                .col-6
                  .form-group
                    label.h5(for="date") 到期日
                    input.form-control.bg-secondary.border-0(type="text" id="date" placeholder="MM/YY")
                .col-6
                  .form-group
                    label.h5(for="code") 安全碼
                    input.form-control.bg-secondary.border-0(type="number" id="code" placeholder="000")

          a(href="checkout3.html").btn.btn-lg.btn-block.btn-accent.text-primary.pt-4.pb-3 下一步
        .col-lg-3.col-md-5.d-none.d-md-block
          .border.border-secondary.text-accessory.mb-4
            h2.text-lg.text-bold.text-center.py-3.bg-secondary 訂單摘要
            .px-4.py-3
              .d-flex.justify-content-between
                span 小計
                span NT$ 2,700
              .d-flex.justify-content-between
                span 運費
                span NT$ 300
              .d-flex.justify-content-between.text-md.text-bold.mt-3
                span 總計
                span NT$ 3,000
          .border.border-secondary.text-accessory
            h2.text-lg.text-bold.text-center.py-3.bg-secondary 購物清單
            .px-4.pb-3
              .cart-item.cart-item-sm.text-accessory.w-100
                .cart-item-image.bg-cover(style="background-image: url(https://bit.ly/2QvsT63);")
                .cart-title
                  p.mb-0 焦糖馬卡龍
                  p.text-md.mb-0 NT$ 900
              .cart-item.cart-item-sm.text-accessory.w-100
                .cart-item-image.bg-cover(style="background-image: url(https://bit.ly/2xPn7Eq);")
                .cart-title
                  p.mb-0 焦糖馬卡龍
                  p.text-md.mb-0 NT$ 900
              .cart-item.cart-item-sm.text-accessory.w-100
                .cart-item-image.bg-cover(style="background-image: url(https://bit.ly/2zKOP7w);")
                .cart-title
                  p.mb-0 焦糖馬卡龍
                  p.text-md.mb-0 NT$ 900

        