extends include/layout.pug

block vars
  - var title = '訂單'

block content
  main.mb-0.mb-md-6
    .container.px-0.px-md-2
      .row.justify-content-center
        .col-md-6
          .bg-primary.text-secondary.p-5
            .container-fluid
              .form-row.mb-5
                .col-6
                  h2 運送
                .col-6
                  ul.progress-steps
                    li.step.active 
                    li.step
                    li.step
              .form-row
                .col-6
                  .form-group
                    label.h5(for="surname") 姓氏
                    input.form-control.bg-secondary(type="text" id="surname" placeholder="王")
                .col-6
                  .form-group
                    label.h5(for="given-name") 名字
                    input.form-control.bg-secondary(type="text" id="given_name" placeholder="小明")
              .form-row
                .col-12
                  .form-group
                    label.h5(for="tel") 電話
                    input.form-control.bg-secondary(type="tel" id="tel" placeholder="0912-345-678")
              label.h5(for="address") 地址
              .form-row.mb-2
                .col-6
                  select.custom-select.bg-secondary(id="address")
                    option 基隆市
                    option 台北市
                    option 新北市
                    option 桃園市
                    option 新竹縣
                    option 新竹市
                    option 苗栗縣
                    option 台中市
                    option 彰化縣
                    option 南投縣
                    option 雲林縣
                    option 嘉義縣
                    option 台南市
                    option(selected) 高雄市
                    option 屏東縣
                    option 台東縣
                    option 花蓮縣
                    option 宜蘭縣
                .col-6
                  select.custom-select.bg-secondary
                    option 前金區
                    option(selected) 新興區
                    option 鹽埕區
                    option 左營區
                    option 楠梓區
                    option 鼓山區
                    option 旗津區
                    option 苓雅區
                    option 三民區
                    option 前鎮區
                    option 小港區
              .form-row.mb-0
                .col-12
                  input.form-control.bg-secondary(type="text" placeholder="幸福路 520 號")
          a(href="checkout2.html").btn.btn-lg.btn-block.btn-accent.text-primary.pt-4.pb-3 下一步
        .col-md-3.d-none.d-md-block
          .border.border-secondary.text-accessory.mb-4
            h2.text-lg.text-bold.text-center.py-3.bg-secondary 訂單摘要
            .px-4.py-3
              .d-flex.justify-content-between
                span 小計
                span NT$ 2,700
              .d-flex.justify-content-between
                span 運費
                span NT$ 300
              .d-flex.justify-content-between.text-md.text-bold.mt-3
                span 總計
                span NT$ 3,000
          .border.border-secondary.text-accessory
            h2.text-lg.text-bold.text-center.py-3.bg-secondary 購物清單
            .px-4.pb-3
              .cart-item.cart-item-sm.text-accessory.w-100
                .cart-item-image.bg-cover(style="background-image: url(https://bit.ly/2QvsT63);")
                .cart-title
                  p.mb-0 焦糖馬卡龍
                  p.text-md.mb-0 NT$ 900
              .cart-item.cart-item-sm.text-accessory.w-100
                .cart-item-image.bg-cover(style="background-image: url(https://bit.ly/2xPn7Eq);")
                .cart-title
                  p.mb-0 焦糖馬卡龍
                  p.text-md.mb-0 NT$ 900
              .cart-item.cart-item-sm.text-accessory.w-100
                .cart-item-image.bg-cover(style="background-image: url(https://bit.ly/2zKOP7w);")
                .cart-title
                  p.mb-0 焦糖馬卡龍
                  p.text-md.mb-0 NT$ 900

        