extends include/layout.pug

block vars
  - var title = '首頁'
  - var current =  '首頁'

block content
  section
    .container.px-md-down-0
      .banner
        .banner-main-image(style="background-image: url(https://images.unsplash.com/photo-1473256599800-b48c7c88cd7e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae0d68ab0db4ee79bdce92722b31112b&auto=format&fit=crop&w=2725&q=80)")
  nav
    .container.px-md-down-0
      .row.no-gutters.justify-content-center.mb-md-8.mt-md-n7
        .col-md-10
          .row.no-gutters
            a.col-4.blurred-menu-item.active(href='#')
              span.menu-title-vertical 本日精選
              .blurred-menu-item-overlay
              .blurred-menu-item-image(style='background-image: url(https://images.unsplash.com/photo-1490914327627-9fe8d52f4d90?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=73ed228f25bdefd2291c242f6d390fca&auto=format&fit=crop&w=634&q=80)')
            a.col-4.blurred-menu-item(href='#')
              span.menu-title-vertical 人氣推薦
              .blurred-menu-item-overlay
              .blurred-menu-item-image(style='background-image: url(https://images.unsplash.com/photo-1504114133367-631ecd3db3ca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b75e93d90cd88467ae5715becb431a26&auto=format&fit=crop&w=600&q=60)')
            a.col-4.blurred-menu-item(href='#')
              span.menu-title-vertical 新品上市
              .blurred-menu-item-overlay
              .blurred-menu-item-image(style='background-image: url(https://images.unsplash.com/photo-1499638472904-ea5c6178a300?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c27da96f7150c96a92ba8a53c8644761&auto=format&fit=crop&w=600&q=60)')
  section.mb-md-9
    .fancy-card.bg-secondary
      .row.d-md-none.d-flex.justify-content-center.bg-white.no-gutters
        .col-6
          img.my-5.img-fluid(src="./img/sm-為什麼選擇了做甜點.svg", alt="為什麼選擇了做甜點")
      .container.px-md-down-0.h-100
        .row.h-100.mx-md-down-0
          .col-md-6.h-100
            .fancy-card-image.bg-cover(style="background-image: url(https://images.unsplash.com/photo-1519730722595-a5ff788dea4d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2712a33fe9b13532f0682ac4e1e749b8&auto=format&fit=crop&w=600&q=60)")
          .col-md-6.d-md-flex.justify-content-end.h-100
            .fancy-card-body.flex-grow-1.text-md-vertical
              .fancy-card-content.text-accessory.p-5.p-md-0
                p 青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
                p 是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
            .fancy-card-title.d-none.d-md-block
              img(src="./img/lg-為什麼選擇了做甜點.svg" width="89")
  section.mb-md-8
    .fancy-card.bg-secondary
      .row.d-md-none.d-flex.justify-content-center.bg-white.no-gutters
        .col-6
          img.my-5.img-fluid(src="./img/sm-為什麼一定要吃甜點.svg", alt="為什麼一定要吃甜點")
      .container.px-md-down-0.h-100
        .row.h-100.mx-md-down-0
          .col-md-6.h-100.order-md-2
            .fancy-card-image.bg-cover(style="background-image: url(https://images.unsplash.com/photo-1501432781167-c0ccfd492297?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=621c4e9986fba1c4514dfdc30e095bd2&auto=format&fit=crop&w=600&q=60)")
          .col-md-6.d-flex.justify-content-start.h-100.order-md-1
            .fancy-card-body.flex-grow-1.text-md-vertical
              .fancy-card-content.text-accessory.p-5.p-md-0
                p 青山依舊在，幾度夕陽紅。慣看秋月春風。一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
                p 是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
            .fancy-card-title.d-none.d-md-block
              img(src="./img/lg-為什麼一定要吃甜點.svg" width="89")
  section.mb-md-8
    .d-flex.justify-content-center.align-items-center.pt-md-3
      img.d-none.d-md-inline-block(src="./img/lg-想吃甜點是不需要理由的.svg" width="89")
      .row.justify-content-center.d-md-none.w-100
        .col-7
          img.my-md-0.my-5(src="./img/sm-想吃甜點是不需要理由的.svg", alt="想吃甜點是不需要理由的")
  section
    .container.px-4.px-md-0
      .row
        .col-md-4.mb-6
          .product-card
            .product-card-image.bg-cover(style="background-image: url(https://images.unsplash.com/photo-1514517220017-8ce97a34a7b6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7c376ffa487bcd258df29dc881b10703&auto=format&fit=crop&w=700&q=60);")
              .product-card-favorite
                i.far.fa-heart
              .product-card-highlight
                | 本日精選
            .product-card-detail
              .row.no-gutter
                .col-7.product-card-title.py-3
                  | 焦糖馬卡龍
                .col-5.product-card-price.py-3
                  | NT$ 450
            button.product-card-btn.d-block.py-3 加入購物車            
        .col-md-4.mb-6
          .product-card
            .product-card-image.bg-cover(style="background-image: url(https://images.unsplash.com/photo-1525203135335-74d272fc8d9c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=61b27d2cefd0dd094b5439f897b43bb7&auto=format&fit=crop&w=700&q=60);")
              .product-card-favorite
                i.far.fa-heart
              .product-card-highlight
                | 本日精選
            .product-card-detail
              .row.no-gutter
                .col-7.product-card-title.py-3
                  | 焦糖馬卡龍
                .col-5.product-card-price.py-3
                  | NT$ 450
            button.product-card-btn.d-block.py-3 加入購物車
        .col-md-4.mb-6
          .product-card
            .product-card-image.bg-cover(style="background-image: url(https://images.unsplash.com/photo-1504473089979-b1c4993a9653?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9db69b72e1f7d1b4e5c81cee531108ff&auto=format&fit=crop&w=700&q=60);")
              .product-card-favorite
                i.far.fa-heart
              .product-card-highlight
                | 本日精選
            .product-card-detail
              .row.no-gutter
                .col-7.product-card-title.py-3
                  | 焦糖馬卡龍
                .col-5.product-card-price.py-3
                  | NT$ 450
            button.product-card-btn.d-block.py-3 加入購物車

