extends include/layout.pug

block vars
  - var title = '登入'
  - var current = '登入'

block content
  main.mt-md-5.mb-md-6
    .container.px-0.px-md-2
      .row.no-gutters.justify-content-center
        .col-md-10
          h2.py-5.mb-0.d-block.d-md-none.text-center.bg-primary.text-secondary 會員登入
          .row.no-gutters.flex-md-row-reverse
            .col-md-6.py-md-3
              .p-5.bg-secondary
                h4.mt-2.mb-5.text-center.text-accessory.d-none.d-md-block —— 連結社群帳號 ——
                .row.no-gutters
                  .col-4.col-md-12.mb-md-3.border.border-secondary
                    button.btn.btn-lg.btn-block.btn-light.h-100.px-3
                      img.img-fluid(src="./img/ic-facebook-logotype.svg", alt="facebook" width="108")
                  .col-4.col-md-12.mb-md-3.border.border-secondary
                    button.btn.btn-lg.btn-block.btn-light.h-100.px-3
                      img.img-fluid(src="./img/ic-google.svg", alt="google" width="93")
                  .col-4.col-md-12.mb-md-3.border.border-secondary
                    button.btn.btn-lg.btn-block.btn-light.h-100.px-3
                      img.img-fluid(src="./img/ic-yahoo.svg", alt="yahoo" width="97")
            .col-md-6
              form.bg-primary.text-secondary.px-5.overflow-auto
                h2.my-4.my-md-5.py-0.py-md-2.text-center.d-none.d-md-block 會員登入
                .input-group.mb-3.mt-5.mt-md-0.bg-secondary.text-accessory
                  .input-group-prepend
                    i.input-group-text.fas.fa-user.text-bold.text-primary.px-4
                  input.form-control.bg-secondary.shadow-none(type="text" placeholder="電子信箱/手機號碼")
                .input-group.mb-3.bg-secondary.text-accessory
                  .input-group-prepend
                    i.input-group-text.fas.fa-key.text-bold.text-primary.px-4
                  input.form-control.bg-secondary.shadow-none(type="password" placeholder="請輸入使用者密碼")
                .form-check.mb-4
                  label.form-check-label
                    input.form-check-input(type="checkbox", name="rememberMe")
                    | 記住我
              input.btn.btn-lg.btn-block.btn-accent.text-primary.text-lg.text-bold(type="submit", value="登入帳號")
        //- .col-md-5.py-3.d-none.d-md-block
        //-   .container-fluid.px-5.bg-secondary.text-accessory.overflow-auto.h-100
        //-     h4.my-5.py-2.text-center —— 連結社群帳號 ——
        //-     button.btn.btn-lg.btn-block.btn-light.mb-3
        //-       img(src="./img/ic-facebook-logotype.svg", alt="facebook" height="20")
        //-     button.btn.btn-lg.btn-block.btn-light.mb-3
        //-       img(src="./img/ic-google.svg", alt="google" height="31")
        //-     button.btn.btn-lg.btn-block.btn-light.mb-3
        //-       img(src="./img/ic-yahoo.svg", alt="yahoo" height="22")

