extends include/layout.pug

block vars
  - var title = '甜點'
  - var current = '甜點'

block content
  section.mb-md-6
    .container-md.px-md-down-0
      .banner
        .banner-main-image(style="background-image: url(https://images.unsplash.com/photo-1512484457149-266d165a4eca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=786581a33fd6c9343735655439ce2e5a&auto=format&fit=crop&w=800&q=60)")
        .banner-heading-vertical
          img(src="./img/lg-想吃甜點是不需要理由的.svg", alt="想吃甜點是不需要理由的")

  main
    .container-md.my-6
      .row
        .col-md-4.mb-5.px-0.px-md-2
          h2.mb-0.list-group-item.bg-primary.border-primary.text-secondary.text-lg.text-center.text-bold 甜點類別
          ul.list-group
            li.list-group-item.list-group-item-action.text-center.active
              a(href="#").text-lg.text-bold 所有甜點（48）
            li.list-group-item.list-group-item-action.text-center
              a(href="#").text-lg.text-bold 本日精選（10）
            li.list-group-item.list-group-item-action.text-center
              a(href="#").text-lg.text-bold 人氣推薦（26）
            li.list-group-item.list-group-item-action.text-center
              a(href="#").text-lg.text-bold 新品上市（12）
        .col-md-8.px-5.px-md-2
          .row
            .col-md-6
              .product-card.mb-4
                .product-card-image.bg-cover(style="background-image: url(https://images.unsplash.com/photo-1490474504059-bf2db5ab2348?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0cad6d3de8adbdf6298d4ca5d094f8c6&auto=format&fit=crop&w=800&q=60);")
                  .product-card-favorite
                    i.far.fa-heart
                  .product-card-highlight
                    | 本日精選
                .product-card-detail
                  .row.no-gutter
                    .col-7.product-card-title.py-3
                      | 焦糖馬卡龍
                    .col-5.product-card-price.py-3
                      | NT$ 450
                button.product-card-btn.d-block.py-3 加入購物車 

              .product-card.mb-4
                .product-card-image.bg-cover(style="background-image: url(https://bit.ly/2zKOP7w);")
                  .product-card-favorite
                    i.far.fa-heart
                  .product-card-highlight
                    | 本日精選
                .product-card-detail
                  .row.no-gutter
                    .col-7.product-card-title.py-3
                      | 焦糖馬卡龍
                    .col-5.product-card-price.py-3
                      | NT$ 450
                button.product-card-btn.d-block.py-3 加入購物車 

              .product-card.mb-4
                .product-card-image.bg-cover(style="background-image: url(https://bit.ly/2zBDAxX);")
                  .product-card-favorite
                    i.far.fa-heart
                  .product-card-highlight
                    | 本日精選
                .product-card-detail
                  .row.no-gutter
                    .col-7.product-card-title.py-3
                      | 焦糖馬卡龍
                    .col-5.product-card-price.py-3
                      | NT$ 450
                button.product-card-btn.d-block.py-3 加入購物車 

            .col-md-6.d-none.d-md-block
              .product-card.mb-4
                .product-card-image.bg-cover(style="background-image: url(https://bit.ly/2zBjQuq);")
                  .product-card-favorite
                    i.far.fa-heart
                  .product-card-highlight
                    | 本日精選
                .product-card-detail
                  .row.no-gutter
                    .col-7.product-card-title.py-3
                      | 焦糖馬卡龍
                    .col-5.product-card-price.py-3
                      | NT$ 450
                button.product-card-btn.d-block.py-3 加入購物車 

              .product-card.mb-4
                .product-card-image.bg-cover(style="background-image: url(https://bit.ly/2NcDVuB);")
                  .product-card-favorite
                    i.far.fa-heart
                  .product-card-highlight
                    | 本日精選
                .product-card-detail
                  .row.no-gutter
                    .col-7.product-card-title.py-3
                      | 焦糖馬卡龍
                    .col-5.product-card-price.py-3
                      | NT$ 450
                button.product-card-btn.d-block.py-3 加入購物車 

              .product-card.mb-4
                .product-card-image.bg-cover(style="background-image: url(https://bit.ly/2zL5jN7);")
                  .product-card-favorite
                    i.far.fa-heart
                  .product-card-highlight
                    | 本日精選
                .product-card-detail
                  .row.no-gutter
                    .col-7.product-card-title.py-3
                      | 焦糖馬卡龍
                    .col-5.product-card-price.py-3
                      | NT$ 450
                button.product-card-btn.d-block.py-3 加入購物車 
          nav(aria-label="Page navigation")
            ul.pagination.pagination-lg.justify-content-end
              li.page-item
                a.page-link(href="#"): i.fas.fa-caret-left
              li.page-item.active
                a.page-link(href="#") 1
              li.page-item
                a.page-link(href="#") 2
              li.page-item
                a.page-link(href="#") 3
              li.page-item
                a.page-link(href="#"): i.fas.fa-caret-right


