.bg-cover {
  background-size: cover;
  background-position: center;
}

.text-md-vertical {
  @include media-breakpoint-up(md) {
    writing-mode: vertical-rl;
  }
}

.text-sm-lg {
  font-size: 20px;
  @include media-breakpoint-up(sm) {
    font-size: 24px;
  }
}

.text-lg {
  font-size: 24px;
}

.text-md {
  font-size: 20px;
}

.text-bold {
  font-weight: bold;
}

.pure-btn {
  outline: none;
  border: none;
  text-align: center;
}

.pure-input {
  outline: none;
  border: none;
}

.vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

.px-md-down-0 {
  @include media-breakpoint-down(sm) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.mx-md-down-0 {
  @include media-breakpoint-down(sm) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.bg-md-primary {
  @include media-breakpoint-up(md) {
    background: theme-color("primary") !important;
  }
}

.bg-md-down-secondary {
  @include media-breakpoint-down(sm) {
    background: theme-color("secondary") !important;
  }
}

.text-md-secondary {
  @include media-breakpoint-up(md) {
    color: theme-color("secondary") !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}