.banner {
  height: 277px;
  position: relative;

  @include media-breakpoint-up(md) {
    height: 496px;
  }

  &-main-image {
    height: 100%;
    background-size: cover;
    background-position: center center;
  }

  &-heading-vertical {
    position: absolute;
    top: 30px;
    right: 30px;
    @include media-breakpoint-up(md) {
      top: 40px;
      right: 40px;
    }

    & > img {
      width: 59px;
      @include media-breakpoint-up(md) {
        width: 89px;
      }
    }
  }

  &-central-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.banner-success {
  height: 518px;
  @include media-breakpoint-up(md) {
    height: 460px;
  }
}
