.fancy-card {
  height: auto;

  @include media-breakpoint-up(md) {
    height: 420px;
    overflow: visible;
  }

  &-image {
    height: 250px;
    margin-top: 0;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      height: calc(100% + 40px);
      margin-top: -20px;
      margin-bottom: -20px;
    }
  }

  &-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &-content {
    line-height: 2;
    max-height: auto;
    
    @include media-breakpoint-up(md) {
      max-height: 280px;
      white-space: wrap;
      line-height: 2.5;
    }
  }

  &-title {
    margin-top: -20px;
  }
}